APP_NAME="Flight Telemetry"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000
APP_HOST_PORT=8000
APP_SERVER_HOST=0.0.0.0
APP_SERVER_PORT=8000
VITE_APP_NAME="Flight Telemetry"

LOG_CHANNEL=stderr
LOG_LEVEL=debug

BROADCAST_CONNECTION=reverb
CACHE_STORE=redis
QUEUE_CONNECTION=sync
SESSION_DRIVER=file

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

OCTANE_SERVER=swoole
OCTANE_WORKERS=2

REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_SERVER_HOST=0.0.0.0
REVERB_SERVER_PORT=8080
REVERB_HOST=reverb
REVERB_PORT=8080
REVERB_SCHEME=http
REVERB_ALLOWED_ORIGINS=*
VITE_REVERB_APP_KEY=
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http
REVERB_HOST_PORT=8080

TELEMETRY_HOST=fts.onenex.dev
TELEMETRY_API_SCHEME=https
TELEMETRY_API_PORT=4000
TELEMETRY_INTERVAL_MS=2000
TELEMETRY_MEMORY_LIMIT_MB=80
